@import './variables.scss';

.button {
  height: 40px;
  border-radius: $unit;
  border: 1px solid $border-color;
  outline: none;
  cursor: pointer;
  font-size: $unit * 2;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: $color-white;
    padding: $unit * 2;
    border: 1px solid $border-color;
    border-radius: $unit;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup {
  &__content {
    position: absolute;
    background: $color-white;
    padding: $unit * 2;
    border: 1px solid $border-color;
    border-radius: $unit;
  }
}

.hidden {
  display: none;
}
