@import './src/styles/variables.scss';

.event {
  position: absolute;
  width: 80%;
  background-color: $color-cornflowerblue;
  z-index: 1;
  border-radius: $unit;
  padding: $unit;
  color: $color-white;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: $unit;
  }

  &:hover {
    font-weight: bold;
    background-color: $color-red;
  }
}
