@import './src/styles/variables.scss';

.create-event {
  display: flex;
  flex-direction: column;

  &__close-btn {
    margin-left: auto;
    transform: rotate(45deg) scale(2);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: $unit * 3;
    height: $unit * 3;
    background: transparent;
  }
}

.event-form {
  display: flex;
  flex-direction: column;

  &__field {
    margin: $unit;
    border: none;
  }

  &__submit-btn {
    margin: $unit;
    margin-left: auto;
    border: none;
    color: $color-white;
    background-color: $color-cornflowerblue;
    border: none;
    padding: $unit $unit * 2;
    border-radius: $unit;
  }
}
