@import './src/styles/variables.scss';

.header {
  display: flex;
  height: 60px;
  padding: 0 $unit * 3;
  align-items: center;
}

.create-event-btn {
  padding: 0 $unit * 3;
  border-radius: $unit * 2;
  background-color: $color-white;
  box-shadow: -1px 2px 3px 0px rgba(184, 178, 184, 1);

  &__icon {
    margin-right: $unit;
  }
}

.navigation {
  &__today-btn {
    margin-left: $unit * 4;
    padding: 0 $unit * 2;
    background-color: $color-white;
    box-shadow: -1px 2px 3px 0px rgba(184, 178, 184, 1);
  }

  &__nav-icon {
    font-size: $unit * 2;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
  }
}
